services:
  dev:
    build:
      context: .
      args:
        - CONTAINER_USER
        - CONTAINER_UID
        - WORKSPACE_DIR_NAME
    image: dev-env:latest
    container_name: dev
    command: tail -f /dev/null
    environment:
      - USER=${CONTAINER_USER}
      - DEV_ENV_DIR
      - KEEPASS_DB_PATH
    volumes:
      - ${HOST_GENERAL_DIR}/.bash_history:/home/${CONTAINER_USER}/.bash_history
      - ${HOST_GENERAL_DIR}/.claude:/home/${CONTAINER_USER}/.claude
      - ${HOST_REPOS_DIR}:/${REPOS_DIR_NAME}
      - ${HOST_WORKSPACE_DIR}:/${WORKSPACE_DIR_NAME}