services:
  dev:
    build: .
    image: dev-env:latest
    container_name: dev-container
    command: tail -f /dev/null
    volumes:
      - /Users/mshort/mjs:/mjs:cached
      - /Users/mshort/UbuntuSync:/UbuntuSync:cached
      - /Users/mshort/Repos:/Repos:cached